@model IEnumerable<Entities.Project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("Create New" , "Create")
</p>


@foreach(var item in Model)
{
    <div class="board">
        <div class="board__item">
            <div class="board__head">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            </div>
            <div class="board__footer">
                <a href="@Url.Action("Edit" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Details" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-trash"></i></a>
                <a href="@Url.Action("Index" , "Task", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-chevron-left"></i></a>
            </div>
        </div>
    </div>
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.ActionLink("Edit" , "Edit" , new { id = item.ID }) |
            @Html.ActionLink("Details" , "Details" , new { id = item.ID }) |
            @Html.ActionLink("Delete" , "Delete" , new { id = item.ID }) |
            @Html.ActionLink("Tasks" , "Index" , "Task" , new { id = item.ID } , null)*@

}




@*<div class="board">
        <div class="board__item">
            <div class="board__head">
                <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
            </div>
            <div class="board__footer">
                <a href="@Url.Action("Edit" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Details" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Delete" , "Project", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
                <a href="@Url.Action("Index" , "Task", new { id = item.ID })" class="btn btn-danger"> <i class="fa fa-edit"></i></a>
            </div>
        </div>
    </div>*@